<h1>Question Edit Page</h1>

<% if @question.errors.any? %>
    <ul>
        <% @question.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @question, url: question_path, method: :patch ) do |form| %>
    <div>
        <%= form.label :title %>
        <br>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :body %>
        <br>
        <%= form.text_area :body, cols: 50, rows: 5 %>
    </div>
    <%= form.submit %>
<% end %>

